@font-face {
  font-family: 'LineIcons';
  src:  url('../fonts/LineIcons.eot?ibaccn');
  src:  url('../fonts/LineIcons.eot?ibaccn#iefix') format('embedded-opentype'),
    url('../fonts/LineIcons.ttf?ibaccn') format('truetype'),
    url('../fonts/LineIcons.woff?ibaccn') format('woff'),
    url('../fonts/LineIcons.svg?ibaccn#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lni-diamond-alt::before {
  content: "\ea92";
}
.lni-heart::before {
  content: "\eae7";
}
.lni-home::before {
  content: "\eaed";
}
.lni-plane::before {
  content: "\eb57";
}
